{
  "ConnectionStrings": {
    "UletiSmenu": "Server=CNS16;Database=UletiSmenuDb;Integrated Security=True;TrustServerCertificate=True;"
  },
  "Cors": {
    "AllowedOrigins": [ "http://localhost:5173" ]
  },
  "FileSettings": {
    "UploadPath": "D:\\uploads"
  },
  "Backend": {
    "BaseUrl": "https://localhost:7029",
    "FrontendBaseUrl": "http://localhost:5173/"
  },
  "SmtpSettings": {
    "Host": "smtppro.zoho.eu",
    "Port": 587,
    "Username": "support@uletismenu.com",
    "Password": "",
    "FromEmail": "noreply@uletismenu.com",
    "FromName": "UletiSmenu",
    "ReplyToEmail": "support@uletismenu.com",
    "ContactInbox": "support@uletismenu.com",
    "EnableSsl": true,
    "DebugApiKey": ""
  }
}
